# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=tu_email@gmail.com
# SMTP_PASS=tu_password_aplicacion
# SMTP_FROM=noreply@kairos.cat
# SMTP_FROM_NAME=KAIROS - Programa ENGINY

# APP_ENV=development
# APP_URL=http://localhost:8000

# DB_HOST=db
# DB_NAME=kairos_db
# DB_USER=root
# DB_PASS=rootpass
